@{
    ViewData["Title"] = "Login";
}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow" style="width: 400px;">
            
            <h2 class="text-center mb-4">NeaStyle</h2>

            @* Exibe erro se houver *@
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @foreach (var erro in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p>@erro.ErrorMessage</p>
                    }
                </div>
            }

            @* Formulário de login *@
            <form method="post" action="/Login/Index">
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Senha</label>
                    <input type="password" name="senha" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-dark w-100"><a href ="/Produto/Index">Entrar</a></button>
            </form>

            <hr>
            <p class="text-center">
                Não tem conta? <a href="/Cliente/CadastrarCliente">Cadastre-se</a>
            </p>
        </div>
    </div>