@{
    ViewData["Title"] = "Login";
}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow" style="width: 400px;">
            
            <h2 class="text-center mb-4">NeaStyle</h2>

            <div asp-validation-summary="All" class="text-danger"></div>

            @* Formulário de login *@
            <form asp-controller="Login" asp-action="Index" method="post">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" name="email" class="form-control" required />   
    </div>

    <div class="mb-3">
        <label class="form-label">Senha</label>
        <input type="password" name="senha" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-dark w-100">Entrar</button>
</form>

            <hr>
            <p class="text-center">
                Não tem conta? <a href="/Cliente/CadastrarCliente">Cadastre-se</a>
            </p>
        </div>
    </div>