@model NeaStyleOficial.Models.Catalog.Produto

@{
    ViewData["Title"] = "Cadastro Produto";
}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow" style="width: 400px;">
            
            <h2 class="text-center mb-4">NeaStyle</h2>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @foreach (var erro in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                    {
                        <p>@erro.ErrorMessage</p>
                    }
                </div>
            }

            <form asp-action="GerenciarProdutos" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label">Nome</label>
                    <input type="text" name="nome" asp-controller="Produto" asp-for="Nome" class="form-control"  method="post" required/>
                </div>

                <div class="mb-3">
                    <label class="form-label">Descrição</label>
                    <input type="text" name="descricao" asp-controller="Produto" asp-for="Descricao" class="form-control" method="post" required/>
                </div>

                <div class="mb-3">
                    <label class="form-label">Preço</label>
                    <input type="number" name="preco" asp-controller="Produto" asp-for="Preco" class="form-control" method="post" required />
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Preço de Custo</label>
                    <input type="number" name="precoCusto" asp-controller="Produto" asp-for="PrecoCusto" class="form-control" method="post" required />
                </div>

                

                <div class="mb-3">
                    <label>Foto do Produto:</label>
                    <input type="file"asp-for ="ImagemUrl" name="fotoArquivo" class="form-control" />
                </div>
                
                <button type="submit" class="btn btn-dark w-100">Cadastrar</button>
                
            </form>
        </div>
    </div>